.data-container {
  display: flex;
  margin: auto;
  width: 80%;
 
}
.data-container img {
  height: 200px;
  border-radius: 5px;
  width: 200px;
  transition: all 0.5s ease 0s;
  margin-bottom: 20px
 
}
.data-container img:hover {
  transform: scale(1.1);
}
.inside-main{
    margin-left: 40px;
}
